<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TUImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TuImageSpirit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>511A0DD519873FC8007B7B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>511A0DE219873FC9007B7B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5171378D1978B18B00F2AAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>517137AE1978B18B00F2AAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
